@font-face {
    font-family: "averta";
    src: url("/assets/fonts/Averta.otf");

}

body{
    background-color: #ADA69D;
    font-family: "averta", Arial, Helvetica, sans-serif;
    padding: 80px; 
}

header{
    background-color: rgb(243, 243, 243);
    padding: 15px;
    position: fixed;
    left: 0;
    top:0;
    right:0;
}

header h1,h3 {
    padding-left: 5%;
}

header nav{
    background-color: #8d8880;
    position: fixed;
    left: 0;
    right:0;
}

main{
    padding-top: 150px;
}

nav ul { 
    list-style: none; 
    padding: 15px;
}

nav ul li { 
    display: inline-block;
    }

nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 15px 45px;
    font-weight: bold; 
}

nav ul li a:hover{
    background-color: rgb(19, 18, 17);
    color: white;
}

#presentation  {
    display: grid;
    display: flex;
    grid-template-columns: 30% 70%;
}

#profilepic{
    width: 100%;
    margin: 10px;
    padding: 20px; 
}

#profilepic img{
    border-radius: 50%;
    border-width: 10px;
    border-style: solid;
    border-color: white;

    object-fit: contain; 
    min-width: 250px;
    max-width: 700px;
    width: 100%;
    box-sizing: border-box; 
}

#about{
    padding: 20px;
}

#presentation, #skills, #briefcase, #contact, footer div{
    background-color: rgb(243, 243, 243) ;
    padding: 40px;
    margin: 10px 0px;
    border-radius: 13px;
    box-shadow: 5px 5px 5px #8d8880;
}

#projects{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

#projects img{
    width: 70%;
    min-width: 130px;
}

#projects article{
    padding: 20px;
}

footer div a{
    text-decoration: none;
    color: black;
    padding: 30px;
}

 @media(max-width:900px) /*Iphone X */

{

    body{
        background-color: #ADA69D;
        font-family: "averta", Arial, Helvetica, sans-serif;
        padding: 2%;
        text-align: center;       
    }

    header{
        background-color: rgb(243, 243, 243);
        padding: 7px;
        position:inherit;       
    }
    
    header h1,h3 {
        padding-left: 3%;    
    }
    
    header nav{
        background-color: #8d8880;
        position: initial;
        width: 100%;
    }

    main{
        padding-top: 10px;
    }

    nav{
        width: 100%;
    }

    nav ul { 
        list-style: none; 
        padding: 2px;
        justify-content: space-around;
        width: 100%;
    }

    nav ul li { 
        width: 100%;
        display: block;
        padding: 8px;
        text-align: center;    
    }
    
    nav ul li a {
        text-decoration: none;
        color: black;
        padding: 10px 80px;
        width:100%
    }
    
    nav ul li a:hover{
        background-color: black; /*rgb(105, 67, 41); */
        color: white;
    }

    #presentation  {
        display: block;
        padding: 5px;
        
    }
    
    #profilepic{
        width: 90%;
        padding: 10px;
        overflow: hidden;
    }
    
    #profilepic img{
        border-radius: 50%;
        border-width: 5px;
        border-style: solid;
        border-color: white;
        
        object-fit: fill;
        min-width: 50px;
        max-width: 300px;
        
        box-sizing: border-box;
    }

    #about{
        padding: 20px;
    }

    #projects{
        display: block;
    }
    
    #projects img{
        width: 70%;
        min-width: 130px;
    }
    
    #projects article{
        padding: 20px;
    }

}