@font-face {
    font-family: "helvetica";
    src: url(assets/fonts/HelveticaWorld-Regular.ttf);
}

body{
    background-color: gray;
    font-family: "helvetica";
    padding: 80px;
    
}

header{
    background-color: rgb(243, 243, 243);
    padding: 15px;
    position: fixed;
    left: 0;
    top:0;
    right:0;
}

header h1,h3 {
    padding-left: 5%;

}

header nav{
    background-color: rgb(163, 163, 163);
    position: fixed;
    left: 0;
    right:0;

}

main{
    padding-top: 150px;
}

nav ul { 
    list-style: none; 
    padding: 15px;
}

nav ul li { 
    display: inline-block;
    
    }

nav ul li a {
    text-decoration: none;
    color: rgb(83, 55, 36);
    padding: 40px 80px;
    
    
}

nav ul li a:hover{
    background-color: rgb(105, 103, 101);
    color: white;
    
}

#presentation  {
    display: grid;
    display: flex;
    grid-template-columns: 30% 70%;
}

#profilepic{
    width: 100%;
    margin: 10px;
    padding: 20px;
}

#profilepic img{
    border-radius: 50%;
    border-width: 10px;
    border-style: solid;
    border-color: white;

    object-fit: contain;
    min-width: 250px;
    max-width: 700px;
    width: 100%;
    box-sizing: border-box;
    
    
    
    
    
}

#about{
    padding: 20px;

}

#presentation, #skills, #briefcase, #contact{
    background-color: rgb(243, 243, 243) ;
    padding: 40px;
    margin: 10px 0px;
}



@media(max-width:700px){

    body{
        background-color: gray;
        font-family: "helvetica";
        padding: 2%;
        text-align: center;
        
    }

    header{
        background-color: rgb(243, 243, 243);
        padding: 7px;
        position:initial;
        width: 100%
        
    }
    
    header h1,h3 {
        padding-left: 3%;
    
    }
    
    header nav{
        background-color: rgb(163, 163, 163);
        position: initial;
        width: 100%;
    }

    nav{
        width: 100%;
    }

    nav ul { 
        list-style: none; 
        padding: 2px;
        justify-content: space-around;
        width: 100%;
        }

    nav ul li { 
        width: 100%;
        display: block;
        padding: 8px;
        text-align: center;
        
        
    }
    
    nav ul li a {
        text-decoration: none;
        color: rgb(83, 55, 36);
        padding: 10px 80px;
        width:100%
    
    }
    
    nav ul li a:hover{
        background-color: rgb(105, 67, 41);
        color: white;
        
    }

}