@font-face {
    font-family: "helvetica";
    src: url(assets/fonts/HelveticaWorld-Regular.ttf);
}


body{
    background-color: gray;
    font-family: "helvetica";
    padding: 80px;
    
}

header{
    background-color: rgb(243, 243, 243);
    padding: 15px;
    position: fixed;
    left: 0;
    top:0;
    right:0;
}

header h1,h3 {
    padding-left: 5%;

}

header nav{
    background-color: rgb(163, 163, 163);
    position: fixed;
    left: 0;
    right:0;

}

main{
    padding-top: 150px;
}

nav ul { 
    list-style: none; 
    padding: 15px;
}

nav ul li { 

    display: inline-block;
    
    }

nav ul li a {
    text-decoration: none;
    color: rgb(83, 55, 36);
    padding: 40px 80px;
    
    
}

nav ul li a:hover{
    background-color: rgb(105, 67, 41);
    color: white;
    
}

#profilepic img{
    border-radius: 50%;
    border-width: 10px;
    border-style: solid;
    border-color: white;
    width: 50%;
}

#about, #skills, #briefcase, #contact{
    background-color: rgb(243, 243, 243) ;
    padding: 40px;
    margin: 10px 0px;
}



@media(min-width:1280px){